
@{
    ViewData["Title"] = "YourRequestHasBeenProcessed";
}
@*
<h1>Your Request Will Be Processed shortly</h1>*@

<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Well done!</h4>
    <p>Your Request Will Be Processed shortly</p>

    <a class="btn btn-success" href="/Home/Dashboard" role="button">Back To Dashboard</a>

   
</div>