
@{
    ViewData["Title"] = "Index";
}




<!DOCTYPE html>
<html lang="en">
<head>
	<title>Bootstrap </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
	
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
</head>
<body>
	<nav class="navbar navbar-expand-sm navbar-light bg-dark text-white">
		<div class="container-fluid ">
			<a class="navbar-brand text-white" href="#">Welcome To Open Source Publisher Subscriber Platform</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
				<ul class="navbar-nav ">
					<li class="nav-item">
						<a class="btn btn-primary" href="/Home/Login" role="button">Login</a>
					</li>
					
				</ul>

			

			</div>
		</div>
	</nav>
	<br>
	<div class="text-black accordion-body sticky-lg-top">

		<p>This is open sorce platform The Publish-Subscribe Model decouples publishers and subscribers, meaning they can work independently. Publishers don't need to be aware of who is receiving their messages, and subscribers don't need to know where the messages are coming from. This decoupling makes it easier to design scalable and flexible systems.</p>

		<p>
			<br>
			1. Publishers: These are entities or components that generate and send messages or events. Publishers don't need to know who or what will receive the messages; they simply publish them to a central messaging system.
			<br>
			<br>
			2. Subscribers: Subscribers are entities or components that express interest in receiving specific types of messages or events. They subscribe to particular topics or channels within the messaging system.
			<br>
			<br>
			3. Messaging System: This is the core component of the publish-subscribe model. It acts as an intermediary between publishers and subscribers. When a publisher sends a message, the messaging system ensures that all interested subscribers receive it.
			<br>
			<br>
			4. Topics or Channels: Messages are typically categorized into topics or channels. Subscribers can specify which topics they are interested in, and they will only receive messages related to those topics.
			<br>
			<br>
		</p>

		<p>
			A publishing platform is a software or service that enables individuals, organizations, or companies to create, manage, and distribute content to a wider audience, typically through digital means. Publishing platforms come in various forms and cater to different types of content, such as articles, blogs, books, videos, and more. Here are some common types of publishing platforms:
		</p>
	</div>

</body>
</html>
















