
@{
    ViewData["Title"] = "SucessfullyLogout";
}

<h1>SucessfullyLogout</h1>




<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Hey...!!</h4>
    <p>Your Have Sucessfully Logged Out</p>

    <a class="btn btn-success" href="/Home/Index" role="button">Back</a>

</div>

